<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.MyMentor.competitive">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/my_mentor_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/my_mentor_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.downloadActivity.DownloadActivity"
            android:label="@string/title_activity_download"
            android:theme="@style/AppTheme.Launch.dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.bloc_note.BlocNoteActivity" />
        <activity
            android:name=".ui.gallery.ImageActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.Activity.TextActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.Activity.QcmActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.identification.IdentificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launch.light" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launch.light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>